html { height: 100%;}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;

}




/* HEADER */
header{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    text-align: center;

}

nav {
    background-color: #b5838d;
    position: fixed; 
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 100%;
    flex-direction: row;
    padding-top: 1%;
    padding-bottom: 1%;
    z-index: 1;
}
nav h1 {
    color: #534f59;
    font-size: 100%;
}











/*MENU*/
input {
    display: none;
}
label {
    display: none;
}
.menu{
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;

}

.menu ul{
    display: flex;
    justify-content: center;
    margin: 0%;
    width: 100%;
    box-sizing: border-box;
    align-items: stretch;
}
.menu ul li{

    display: flex;
    list-style: none;
    margin: 0% auto;
    width: 100%;
    font-size: 1.5em;
    padding: 1%; 
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.menu a:hover{
    color: #ffcdb2;
    /*background: #ffffff; */
    transform: scale(1.2);
    transition: all .2s ease-in-out;
} 

.menu a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    height: 100%;

    margin: 0%;
}








/* BODY */ 
body{
    background-color: #f1f1f1;
    position: relative;
    min-height: 100vh; 
    overflow: scroll;

}


/* MAIN */
main{
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 15%;
    padding-bottom: 5%
}

.contenedor-section {
    display: flex;
    justify-content: space-around;
    gap: 5%;
    width: 100%;
    align-items: center;
    margin-bottom: 4%;
}

.contenedor-img{
    display: flex;
    justify-content: center;
    width: 50%;
}
.contenedor-img img {
    border-radius: 50%;
    width: 50%;

} 

.contenedor-datos {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    width: 50%;

}

.sect-cont {
    padding: 5%;
    background-color: #e5989b;
    display: flex;
    align-items: center;
    text-align: center;

}
.sect-cont img {
    width: 40%;
    height: auto;
    border-radius: 50%;
}
.sect-cont img:hover{
    transform: scale(1.4);
    transition: all 0.2s ;
    filter: brightness(125%);
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.contenedor-section_three {
    width: 100%;
    padding-top: 4%;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    font-size: 1.3em;

}







/*MAIN ACTIVIDADES*/
.main-actv {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.container-info {
    width: 60%;
    padding: 4%;
    background-color: #faeaea

}
.container-gallery{
    width: 50%;
    margin: 7%;
    padding: 1%;
    padding-top: 0%;
}
.gallery-row {
    display: flex;
    padding: 1%;

}
.gallery-column {
    flex: 25%;
    padding: 1%;

}
.gallery-column img {
    width: 100%;
    margin-top: 1%;
    padding: 1%;

}
.gallery-column img:hover {
    transform: scale(2);
    transition: all 0.4s ease-in-out;
    border-radius: 12%;
}













/* FOOTER */
footer{
    background: #6d6875;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}

.footer-redes{
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    margin: 2rem;
    position: relative;
    width: 10%;
}

.footer-redes a {
    display: flex;
    text-decoration: none;
    font-size: 1.2em;
    background: #e5989b;
    text-align: center;
    color: #ffffff;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 10%;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    transition: all .4s ease-in-out;
    margin: 0 10px;
}
.footer-redes a:hover{
    transform: scale(1.2);
    background-color: #ffffff;
    color: #e5989b;
}
.footer-bottom{
    display: flex;
    justify-content: center;
    width:100%;
    height: auto;
    padding:20px 0;
    text-align:center;
    color: white;
}












/*MEDIA QUERY*/

@media all and (max-width: 650px) {


    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
    }
    .name {
        margin-right: 2%;
    }
    input {
        width: 100%;
        height: 100%;
    }
    input:checked ~ ul {
        display: block;
    }
    input:hover ~ label {

        color: #111;
        width: 50%;
    }
    .menu li {
        margin: 0;
    }
    label {
        box-sizing: border-box;
        display: block;
        border-radius: 5%;
        width: 50%;
        height: 10%;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
        background-color: #b5838d;
        color: white;
        padding: 1rem;

    }
    .menu ul{
        display: none;
        position: absolute;
        z-index: 1;
        background-color: #b5838d;
        width: auto;
    }
    .menu ul li a{
        text-decoration: none;

    }



}


@media all and (max-width: 450px) {
    main{
        display: flex;
        position: relative;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 25%;
        padding-bottom: 5%
    }
}